Packages required:
Django
django-tailwind
psycopg2-binary
django-webpush
six
Django-unicorn
schedule
pillow

All current python packages in project:
asgiref==3.6.0
beautifulsoup4==4.11.1
cachetools==4.2.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.4
decorator==4.4.2
Django==4.1.4
django-browser-reload==1.6.0
django-tailwind==3.4.0
django-unicorn==0.49.2
django-webpush==0.3.4
http-ece==1.1.0
idna==3.4
orjson==3.8.3
Pillow==9.3.0
psycopg2-binary==2.9.5
py-vapid==1.9.0
pycparser==2.21
pywebpush==1.9.4
requests==2.28.1
schedule==1.1.0
shortuuid==1.0.11
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.13
