{% load static tailwind_tags %}
<!DOCTYPE html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
         ::-webkit-slider-thumb{
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            background: #7E7E7E !important;
            height: 27px;
            width: 13px;  
            border-radius: 10px;
         }
         html {
            overflow: -moz-scrollbars-vertical; 
            overflow-y: scroll;
         }         
      </style>
      {% tailwind_css %}
   </head>
   <body class="flex flex-col text-white" style="background-color: #131313;font-family: 'Arial';max-width: 100vw;max-height: 100vh;">
      <header class="flex justify-between items-center" style="background-color: #181818; height: 60px;">
         {% block header %}
         {% endblock %}
      </header>
      {% block unicorn %}
      {% endblock %}
      <script src="{% static 'jquery-3.6.2.min.js' %}"></script>
      <script src="{% static 'jquery-clock-timepicker.js' %}"></script>
      <script src="{% static 'script.js' %}"></script>
   </body>
</html>
