{% load unicorn %}
<div>
    <style>
        input {
            color: black;
        }
    </style>
    {% if not display %}
        <div class="absolute w-screen h-screen top-0 left-0" style="background-color:#131313;">
            <form onsubmit="saveTask(this);return false" class="flex flex-col text-white max-w-min">
                {% csrf_token %}
                {{ form|safe }}
                <button type="submit" class="border-2 border-gray-300 rounded-lg bg-white w-16 text-black">Add Task</button>
            </form>
            <button unicorn:click="$toggle('display')" class="bg-white p-2 m-4 rounded-full">X</button>
        </div>
    {% endif %}
    <button unicorn:click="$toggle('display')" class="bg-white p-2 m-4 rounded-full">+</button>
</div>
