{% load static %}
{% load unicorn %}
<div unicorn:poll="dayupdate" unicorn:poll.disable="showtasks_polling" class="flex flex-col h-full">
    <style>
        input {
            color: black;
        }
    </style>
    {% include 'main/colorpicker.html' %}
    <div id="content" class="flex flex-col">
        {% unicorn_scripts %}
        <div class="px-3 pb-12">
            <div id="currentContentHeader" class="max-w-min text-white text-2xl mx-auto" style="padding: 30px;">{{ current }}</div>
            <input id="task_id" value="" unicorn:key="task_id" unicorn:model="task_id" hidden/>
            <input id="slider_input" unicorn:key="slider_key" unicorn:model="value" hidden/>
            <input id="weight" unicorn:model="weight" value="{{ weight }}" hidden/>
            {% if showtasks %}
                <div id="tasks-id" style="max-width: 375.2px;" class="text-white ml-auto mr-auto">
                    {% for task in daytasks %}
                     {% include 'main/tasks.html' %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if showform %}
                {% include 'main/createtask.html' %}
            {% endif %}
        </div>
        {% if showtasks %}
                <button unicorn:click="$toggle('showform', 'showtasks')" class="flex justify-center items-center rounded-full fixed right-0" style="background-color: #181818;width: 49px; height: 49px; margin: 22px; bottom: 81px;">
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 17C4.25 16.2176 4.88426 15.5833 5.66667 15.5833H28.3333C29.1157 15.5833 29.75 16.2176 29.75 17C29.75 17.7824 29.1157 18.4167 28.3333 18.4167H5.66667C4.88426 18.4167 4.25 17.7824 4.25 17Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.25C17.7824 4.25 18.4167 4.88426 18.4167 5.66667L18.4167 28.3333C18.4167 29.1157 17.7824 29.75 17 29.75C16.2176 29.75 15.5833 29.1157 15.5833 28.3333L15.5833 5.66667C15.5833 4.88426 16.2176 4.25 17 4.25Z" fill="white"/>
                    </svg>                
                </button>
                <footer class="flex justify-center items-center w-full fixed bottom-0" style="height: 59px;background-color: #1A1A1A;">
                    <span class="flex justify-center items-center w-52 h-2 rounded-lg" style="background-color: #363636;">
                        <input oninput="weekSlide(this)" value="{{ init_value }}" type="range" min="0" max="6" step="1" class="w-44 h-2 bg-transparent appearance-none cursor-pointer focus:outline-none">
                    </span>
                </footer>
        {% endif %}
        {% if showtask %}
            {% include 'main/createtask.html' %}
        {% endif %}
        <script>
            function weekSlide(element){
                $('#slider_input').val(element.value)
                Unicorn.trigger('showtasksweekly','slider_key')
            }
            function loadtask(id){
                $('#task_id').val(id)
                Unicorn.trigger('showtasksweekly','task_id')
            }
            function refresh(){
                Unicorn.trigger('showtasksweekly','slider_key')
            }
        </script>
    </div>
</div>