{% load unicorn %}
<div>
    <div id="content" class="flex flex-col" class="pb-12">
        {% unicorn_scripts %}
        <input id="task_id" value="" unicorn:key="task_id" unicorn:model="task_id" hidden/>
        <input id="month_id" value="{{ value }}" hidden/>
        <input id="icurrentDay_storage" hidden/>
        <input id="icurrentDay" value="" unicorn:key="icurrentDay" unicorn:model="icurrentDay" hidden/>
        <div id="currentContentHeader" class="max-w-min text-white text-2xl mx-auto" style="padding: 30px;">{{ current }}</div>
        <div class="flex justify-center mb-14">
            <style>
                .selected{
                    background-color: #C9C9C9;
                    color: black;
                    border-radius: 11px;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            </style>
            {% include 'main/colorpicker.html' %}
            <div id="calender_container" class="w-full flex flex-wrap" style="height: 277px; padding-left: 10px; padding-right: 10px; max-width: 375.2px;">
                {% for day in amountOfDays %}
                    <div class="flex justify-center items-center" style="width: 42.18px; height: 42.18px; background-color: #2B2B2B; margin: 8.5px; border-radius: 11px; font-size: 22px;">
                        <button id="day_{{day}}" onclick="fetchDay({{day}})" class="w-full h-full">
                            <p class="pointer-events-none">{{ day }}</p>
                        </button>
                    </div>
                {% endfor%}
            </div>
        </div>
        {% if showtasks %}
            <div id="tasks-id" class="text-white mb-6" style="padding-left: 14px; padding-right: 14px;">
        {% endif %}
                <div style="font-size: 22px; padding-top: 37px; padding-bottom: 17px;">
                    <div>{{ currentDay }}</div>
                </div>
        {% if showtasks %}
                {% for task in daytasks %}
                    {% include 'main/tasks.html' %}
                {% endfor %}
            </div>
        <button unicorn:click="$toggle('showform', 'showtasks')" class="flex justify-center items-center rounded-full fixed right-0" style="background-color: #181818;width: 49px; height: 49px; margin: 22px; bottom: 81px;">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 17C4.25 16.2176 4.88426 15.5833 5.66667 15.5833H28.3333C29.1157 15.5833 29.75 16.2176 29.75 17C29.75 17.7824 29.1157 18.4167 28.3333 18.4167H5.66667C4.88426 18.4167 4.25 17.7824 4.25 17Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.25C17.7824 4.25 18.4167 4.88426 18.4167 5.66667L18.4167 28.3333C18.4167 29.1157 17.7824 29.75 17 29.75C16.2176 29.75 15.5833 29.1157 15.5833 28.3333L15.5833 5.66667C15.5833 4.88426 16.2176 4.25 17 4.25Z" fill="white"/>
            </svg>                
        </button>
        <footer class="flex justify-center items-center w-full fixed bottom-0" style="height: 59px;background-color: #1A1A1A;">
            <span class="flex justify-center items-center w-52 h-2 rounded-lg" style="background-color: #363636;">
                <input id="slider_input" unicorn:key="slider_key" unicorn:model="value" hidden/>
                <input id="slider" value="{{ init_value }}" oninput="monthSlide(this)" type="range" min="0" max="11" step="1" class="w-44 h-2 bg-transparent appearance-none cursor-pointer focus:outline-none"/>
            </span>
        </footer>
        {% endif %}
        {% if showform %}
            {% include 'main/createtask.html' %}
        {% endif %}
        {% if showtask %}
            {% include 'main/createtask.html' %}
        {% endif %}
        <script>
            function fetchDay(day){
                $('#icurrentDay').val(day)
                for (let i = 0; i < $('.selected').length ; i++){
                    $('.selected')[i].classList.remove('selected')
                }
                Unicorn.trigger('showtasksmonthly','icurrentDay')
            }
            function monthSlide(element){
                $('#slider_input').val(element.value)
                Unicorn.trigger('showtasksmonthly','slider_key')
            }
            function addClass(day_id){
                return new Promise(resolve=>{
                    $(`#day_${day_id}`).addClass('selected')
                    resolve(true)
                })
            }
            // Async function required for latency
            async function setCurrentDay(day_id){
                success = await addClass(day_id)
                // Handles edge case due to latency
                if (success){
                    if ($('.selected').length > 1){
                        for (let i = 0; i < $('.selected').length ; i++){
                            $('.selected')[i].classList.remove('selected')
                        }
                        $(`#day_${day_id}`).addClass('selected')
                    }                    
                }
            }
            function loadtask(id){
                $('#task_id').val(id)
                Unicorn.trigger('showtasksmonthly','task_id')
            }
            function refresh(){
                fetchDay($('#icurrentDay_storage').val())
                month = $('#month_id').val()
                $('#slider').val(parseInt(month))
            }
        </script>
    </div>
</div>
