{% extends "base.html" %}
{% load unicorn %}

{% csrf_token %}
{% block unicorn %}
   {% if preferredMode == 'Week Mode' %}
         {% unicorn 'showtasksweekly' %}
   {% endif %}
   {% if preferredMode == 'Month Mode' %}
         {% unicorn 'showtasksmonthly' %}
   {% endif %}
{% endblock %} 

{% block header %}
{% if user.is_authenticated %}
<div class="relative inline-block text-left ml-3">
   <div>
      <button onclick="switchMode('{{ preferredMode }}')" type="button" class="flex items-center w-full text-white text-xs rounded-md px-3 py-2 text-sm font-bold" id="menu-button" style="background-color: #111111;" aria-expanded="true" aria-haspopup="true"><span>{{ preferredMode }}</span>
         <div class="pl-2">
            <svg width="20px" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.29 11.71a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42L6.41 8H20a1 1 0 0 0 0-2H6.41l2.3-2.29A1 1 0 0 0 7.29 2.29l-4 4a1 1 0 0 0 0 1.42zM16.71 12.29a1 1 0 0 0-1.42 1.42L17.59 16H4a1 1 0 0 0 0 2H17.59l-2.3 2.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4-4a1 1 0 0 0 0-1.42z"/></svg>
         </div>
      </button>
   </div>
</div>
<h4 class="hidden md:block ml-auto text-sm">{{ username }}</h4>
<a href="profile" class="rounded-full" style="width: 35px; height: 35px; margin: 21px 22px; background-image: url('{{ profileimage.url }}');background-size: cover; background-repeat: no-repeat;">
</a>
{% else %}
<button class="text-blue-500 underline">
   <a href="register">Sign Up</a>/ <a href="login">Sign In</a>
</button>
{% endif %}
{% endblock %}