{% extends "base.html" %}
{% load unicorn %}

{% csrf_token %}
{% block unicorn %}
   {% if preferredMode == 'Week Mode' %}
         {% unicorn 'showtasksweekly' %}
   {% endif %}
   {% if preferredMode == 'Month Mode' %}
         {% unicorn 'showtasksmonthly' %}
   {% endif %}
{% endblock %} 

{% block header %}
{% if user.is_authenticated %}
<div class="relative inline-block text-left ml-3">
   <div>
      <button onclick="switchMode('{{ preferredMode }}')" type="button" class="flex items-center w-full text-white text-xs rounded-md px-3 py-2 text-sm font-bold" id="menu-button" style="background-color: #111111;" aria-expanded="true" aria-haspopup="true"><span>{{ preferredMode }}</span>
         <!-- Replace with reload arrow ciruclar svg icon -->
         <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
         </svg>
      </button>
   </div>
</div>
<a href="profile" class="rounded-full" style="width: 35px; height: 35px; margin: 21px 22px; background-image: url('{{ profileimage.url }}'); background-size: contain;">
</a>
{% else %}
<button class="text-blue-500 underline">
   <a href="register">Sign Up</a>/ <a href="login">Sign In</a>
</button>
{% endif %}
{% endblock %}