{% extends "base.html" %}

{% block header %}
<a  class="text-white p-3 ml-4 mt-auto mb-auto rounded-lg" style="background-color: #111111;" href="/">
Home
</a>
<a href="logout" class="text-blue-500 underline p-2 border-2 border-blue-900 rounded-lg text-center mr-4">Logout</a>
{% endblock %}

{% block unicorn %}
<style>
    td{
        border-top: 0.01rem solid rgb(39, 39, 39);
        border-left: 0.01rem solid rgb(39, 39, 39);
    }
</style>
<form class="flex flex-col w-full items-center px-6 md:px-60">
    {% csrf_token %}
    <div class="flex flex-col w-full items-center mb-4 mt-5">
        <h1 class="text-4xl text-white">Hey, {{ userinfo.username }}!</h1>
        <button id="image_button" onclick="$('#id_image')[0].click()" type="button" class="w-48 h-48 rounded-full mt-8" style="background-image: url('{{ userinfo.image.url }}'); background-size: contain;"><input type="file" name="image" accept="image/*" id="id_image" hidden /></button>
    </div>
    {% if message %}
        <span class="text-red-900 bg-red-300 px-2 py-0.5 rounded-sm">{{ message }}</span>
    {% endif %}
    <div>
        <table class="bg-white text-black rounded-lg mt-10">
            <tr>
                <td><label class="pl-2 pr-2 w-2/3">Email:</label></td>
                <td><input class="bg-transparent text-black border-0 h-full p-3 w-full" name="username" type='text' value="{{ userinfo.email }}" disabled/></td>
            </tr>
            <tr>
                <td><label class="pl-2 pr-2 w-2/3">Username:</label></td>
                <td><input class="bg-white text-black border-0 h-full p-3 w-full" name="username" type='text' value="{{ userinfo.username }}" /></td>
            </tr>
        </table>
        <button tpye="submit" class="uppercase bg-green-400 px-3 py-1.5 text-center rounded-lg mt-4">save</button>
    </div>
</form>
{% endblock %}