{% extends "base.html" %}
{% load webpush_notifications %}

{% block header %}
<a  class="text-white p-3 ml-4 mt-auto mb-auto rounded-lg" style="background-color: #111111;" href="/">
Home
</a>
<a href="logout" class="text-blue-500 underline p-2 border-2 border-blue-900 rounded-lg text-center mr-4">Logout</a>
{% endblock %}

{% block unicorn %}
<style>
    td{
        border-top: 0.01rem solid rgb(39, 39, 39);
        border-left: 0.01rem solid rgb(39, 39, 39);
    }
    #id_image{
        display: none;
    }
    #image_button > div > svg{
        display: none;
        width: 100%;
        height: 100%;
    }
    #image_button > div > svg > path{
        transform: scale(3) translate(20px, 20px);
    }
    #image_button:hover > div{
        display: flex;
        background-color: black;
        opacity: 0.6;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.4s;
    }
    #image_button:hover > div > svg{
        display: block;
    }
</style>
<form enctype="multipart/form-data" action='{% url "main:updateprofile" %}' method='post' class="flex flex-col w-full items-center px-6 md:px-60 h-full">
    {% csrf_token %}
    <input id="input_submit" type="submit" hidden/>
    <div class="flex flex-col w-full items-center mb-4 mt-5">
        <h1 class="text-4xl text-white">Hey, {{ userinfo.username }}!</h1>
        {{ form.image }}
        <button id="image_button" onclick="imageSubmit()" type="button" class="w-48 h-48 rounded-full mt-8" style="background-image: url('{{ profileimage }}');background-size: cover; background-repeat: no-repeat;">
        <div class="w-full h-full rounded-full flex justify-center items-center">
            <svg>
                <path fill="white" d="M17.864 3.6a1 1 0 0 0-1.414 0l-1.414 1.415 4.242 4.242 1.414-1.414a1 1 0 0 0 0-1.414L17.864 3.6zm0 7.072-4.243-4.243-8.9 8.9a1 1 0 0 0-.292.706v2.829a1 1 0 0 0 1 1h2.828a1 1 0 0 0 .707-.293l8.9-8.9z"/>
            </svg>
        </div>
        </button>
        <script>
            let timer, interval
            async function imageSubmit(){
                $('#id_image')[0].click()
                // Polls for response
                clearTimeout(timer)
                clearInterval(interval)
                interval = setInterval(()=>{
                    if ($('#id_image').val().length > 0){
                        clearInterval(interval)
                        $('#input_submit').click()
                    }
                },500)
                timer = setTimeout(()=>{
                    clearInterval(interval)
                    alert('Timeout Error, select an file/image/document on retry')
                },100000)
            }
        </script>
    </div>
    {% if message %}
        <span class="text-red-900 bg-red-300 px-2 py-0.5 rounded-sm">{{ message }}</span>
    {% endif %}
    <div>
        <table class="bg-white text-black rounded-lg mt-10">
            <tr>
                <td><label class="pl-2 pr-2 w-2/3">Email:</label></td>
                <td><input class="bg-transparent text-black border-0 h-full p-3 w-full" name="username" type='text' value="{{ userinfo.email }}" disabled/></td>
            </tr>
            <tr>
                <td><label class="pl-2 pr-2 w-2/3">Username:</label></td>
                <td class="flex flex-row">
                    <input id="initial_value_username" value="{{ userinfo.username }}" hidden/>
                    <input oninput="checkchange(this)" class="bg-white text-black border-0 h-full p-3 w-full" name="username" type='text' value="{{ userinfo.username }}" />
                </td>
            </tr>
        </table>
        <button id="submit_button" type="submit" class="hidden uppercase bg-green-400 px-3 py-1.5 m-3 ml-0 text-center rounded-lg">Update</button>
    </div>
    <div class="mt-6 flex flex-col hidden md:block">
        {% webpush_button with_class="w-62 px-2 py-1.5 rounded-lg bg-purple-500 text-black" %}
    </div>
</form>
<script>
    function checkchange(element){
        initial = $('#initial_value_username').val()
        newvalue = element.value
        if (newvalue != initial){
            $('#submit_button')[0].classList.remove('hidden')
        }else{
            $('#submit_button')[0].classList.add('hidden')            
        }
    }
</script>
{% endblock %}